# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables are in the docker-compose file but Adonis still need an .env file to startup. We can commit it and keep it blank.
.env

Dockerfile.prod

# The development sqlite file
database/*.sqlite
