@import 'tailwind.css';

button:focus {
  outline: 0;
}

.box-styles {
  background: linear-gradient(181.21deg, #2a4365 0.81%, #1f3451 89.6%);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

/* Fix Chrome white input color when selecting autocomplete value */
@-webkit-keyframes autofill {
  0%,100% {
      color: #90cdf4;
      background: #1f3451;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.button-gradient {
  background: linear-gradient(105.11deg, #7bbae0 -6.07%, #1a6fbf 93.36%);
}

.button-gradient:hover {
  background: linear-gradient(105.11deg, #64a0c5 -6.07%, #105697 93.36%);
}

.button-gradient-red {
  background: linear-gradient(90deg, #96275C 0%, #480048 100%);
}
